html,
body,
#root {
    height: 100%;
    margin: 0;
}
.flex-container {
    width : 700px;
    height: 300px;
    position: relative;
}
.flex-container div {
    height: 100px;
    width: 100px;
    background-color: #DAA520;
    border-radius: 50%;
    position: absolute;
}
.flex-container div {
    top: 0;
    left: 0;
}
.flex-container div + div {
    left: 600px;
    right: 0;
}
.flex-container div + div + div {
    right: auto;
    left: 150px;
    top: 100px;
}
.flex-container div + div + div + div {
    left: 450px;
    right: auto;
    top: 100px;
}
.flex-container div + div + div + div + div {
    right: auto;
    left: 300px; 
    top: 200px; 
}
