html,
body,
#root {
    height: 100%;
    margin: 0;
}
.flex-container {
    width : 700px;
    height: 300px;
    position: relative;
}
.flex-container div {
    height: 100px;
    width: 100px;
    background-color: #DAA520;
    border-radius: 50%;
    position: absolute;
}
div:nth-child(1) {
    top: 0;
    left: 0;
}
div:nth-child(2) {
    top: 0;
    left: 600px;
    right: 0;
}
div:nth-child(3) {
    top: 100px;
    left: 150px;
    right: auto;
}
div:nth-child(4) {
    top: 100px;
    left: 450px;
    right: auto;
}
div:nth-child(5) {
    top: 200px; 
    left: 300px; 
    right: auto;
}
